<!-- Contenedor superior con búsqueda y botón de creación -->
<div id="contenedor-superior">
  <div class="recuadro-blanco contenedor-busqueda">
    <label for="buscarTorneo">Buscar torneo: </label>
    <input
      id="buscarTorneo"
      type="text"
      [(ngModel)]="searchQuery"
      (input)="buscarTorneos()"
      placeholder="Nombre del torneo..."
    />
    <span *ngIf="searchQuery !== ''" (click)="limpiarBusqueda()">&times;</span>
  </div>

  <div *ngIf="loginService.isAdmin()" id="crear-torneo" class="recuadro-blanco">
    <img src="admin.png" alt="Icono admin" />
    <button [routerLink]="['/creartorneo']">Crear torneo</button>
  </div>
</div>

<!-- Lista de torneos -->
<section class="torneos-lista" [ngClass]="torneos.length > 0 ? 'cuadricula' : 'mensaje-centrado'">
  <app-torneo 
    *ngFor="let torneo of torneos" 
    [torneo]="torneo" 
    [routerLink]="['/torneos', torneo.id]" 
  />
  <h3 *ngIf="torneos.length === 0">No se encontraron torneos</h3>
</section>

<div class="recuadro-blanco contenedor-paginacion">
  <div class="contenedor-flechas contenedor-flechas-izquierda">
    <button class="flecha-izquierda" (click)="primeraPagina()" [disabled]="paginaActual === 1">&#9664;&#9664;</button>
    <button class="flecha-izquierda" (click)="paginaAnterior()" [disabled]="paginaActual === 1">&#9664;</button>
  </div>
  <span>Página {{ paginas > 0 ? paginaActual : 0 }} de {{ paginas }}</span>
  <div class="contenedor-flechas contenedor-flechas-derecha">
    <button class="flecha-derecha" (click)="paginaSiguiente()" [disabled]="paginaActual === paginas || paginas === 0">&#9654;</button>
    <button class="flecha-derecha" (click)="ultimaPagina()" [disabled]="paginaActual === paginas || paginas === 0">&#9654;&#9654;</button>
  </div>
</div>

