#comentario {
  display: flex;
  gap: 15px;
  width: 100%;
}

.foto-perfil-usuario {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}

.foto-perfil-usuario:hover {
  cursor: pointer;
  opacity: 0.85;
}

#detalles {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contenedor-nombre {
  align-items: center;
  display: flex;
  gap: 10px;
}

#vos {
  color: var(--azul-poli);
}

.nombre {
  font-family: var(--fuente-titulos-2);
  font-size: 20px;
  width: max-content;
}

.nombre:hover {
  cursor: pointer;
}

#contenedor-nombre img {
  height: 25px;
  width: auto;
}

#nombre-usuario:hover {
  cursor: pointer;
}

#fechas {
  align-items: center;
  display: flex;
  gap: 4px;
}

#fechas span {
  color: var(--texto-suave);
  font-family: var(--fuente-texto);
  font-size: 12.5px;
}

#contenido-comentario {
  font-family: var(--fuente-texto);
  font-size: 15px;
  white-space: pre-line;
}

.largo {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.toggle-contenido {
  color: var(--azul-poli);
  font-family: var(--fuente-texto);
  font-size: 15px;
}

.toggle-contenido:hover {
  cursor: pointer;
  text-decoration: underline;
}

#comentario textarea {
  height: 42px;
  margin-top: 5px;
  overflow-y: auto;
  resize: none;
  width: calc(100% - 30px);
}

#comentario textarea:focus {
  outline: none;
}

#contenedor-acciones {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.boton-accion {
  border-radius: 7.5px;
  font-family: var(--fuente-botones);
  font-size: 15px;
  padding: 7px 12.5px;
}

.boton-accion:disabled {
  background-color: var(--azul-poli-deshabilitado);
  border-color: var(--azul-poli-deshabilitado);
  color: white;
  cursor: not-allowed;
  opacity: 0.75;
}