#song {
    background: var(--secondary-color);
    border-radius: 30px;
    padding-bottom: 20px;
  }
  
  #song-name {
    color: var(--primary-color);
    padding: 10px 20px 0px 20px;
  }
  
  #song-duration {
    padding: 0px 0px 0px 20px;
    font-weight: bold;
  }
  
  #song-artist-album {
    padding: 10px 20px 0px 20px;
  }
  
  #song-buttons {
    padding: 10px 0px 0px 20px;
  }
  
  .song-button {
    color: var(--primary-color);
    text-decoration-line: underline;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .song-button:hover {
    color: var(--hover-color);
  }