
<nav class="navbar">
    <div class="navbar-brand">
        <a class="nav-link" routerLink="/" >POLICHESS</a>
    </div>
    <div class="navbar-toggle" id="navbar-toggle">
        ☰
    </div>
    <ul class="navbar-menu" id="navbar-menu">
            <li><a class="nav-link" routerLink="/Noticias" >Noticias</a></li>
            <li><a class="nav-link" routerLink="/Jugadores">Jugadores</a></li>
            <li><a class="nav-link" routerLink="/Calendario">Calendario</a></li>

    </ul>
    <div class="navbar-profile" id="navbar-profile">
        <img src="../assets/daniesanti.jpg" alt="Profile Icon">
    </div>
</nav>

<div class="popup" id="popup">
    <div class="popup-content">
        <span class="close" id="popup-close">&times;</span>
        <h2 id="popup-title">Registrarse</h2>
        <form id="register-form" class="active">
            <label for="reg-username">Nombre de usuario:</label>
            <input type="text" id="reg-username" name="username" required>
            <label for="reg-password">Contraseña:</label>
            <input type="password" id="reg-password" name="password" required>
            <label for="reg-repeat-password">Repetir contraseña:</label>
            <input type="password" id="reg-repeat-password" name="repeat-password" required>
            <button type="submit">Registrarse</button>
            <button type="button" class="toggle-button" id="to-login">¿Ya tienes cuenta? Iniciar sesión</button>
        </form>
        <form id="login-form">
            <label for="login-username">Nombre de usuario:</label>
            <input type="text" id="login-username" name="username" required>
            <label for="login-password">Contraseña:</label>
            <input type="passwordro" id="login-password" name="password" required>
            <button type="submit">Iniciar sesión</button>
            <button type="button" class="toggle-button" id="to-register">¿No tienes cuenta? Registrarse</button>
        </form>
    </div>
</div>


<router-outlet ></router-outlet>