<div class="calendario-container">
  <div class="header">
    <button (click)="cambiarMes(-1)">‹</button>
    <h2>{{ fechaActual | date: 'MMMM yyyy' }}</h2>
    <button (click)="cambiarMes(1)">›</button>
  </div>

  <div class="grid">
    <div class="dia nombre" *ngFor="let dia of ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb']">
      {{ dia }}
    </div>

    <div class="dia vacio" *ngFor="let _ of [].constructor(primerDiaSemana)"></div>

    <div class="dia" *ngFor="let dia of diasMes">
      <div class="numero">{{ dia }}</div>

      <div class="torneo" *ngFor="let torneo of obtenerTorneosDelDia(dia)">
        <a [routerLink]="['/torneos', torneo.id]">
          {{ torneo.nombre }}
        </a>
      </div>
    </div>
  </div>
</div>
